body{
  font-family: 'Rancho', cursive;
  /* font-family: 'Sawarabi Gothic', sans-serif; */
  font-size: 1.5em;
}
.navbar{
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 1rem;
}
#in,#out,#signup,#home,#hoods-link{
  text-decoration: none;
  color: #2f4f4f; 
}
#in:hover,#out:hover,#signup:hover,#home:hover,#hoods-link:hover{
  text-decoration: underline;
  color: #008000; 
}
.auth,.new-add{
  margin-top: 3%;  
}
.auth-form{
  background-color:  rgba(47,79,79,0.3);
}
#hood-icon a{
  margin-right: 3px;
}
.btn-outline-success{
  border-radius: 50px;
}
.border{
  border-width: thick 0px 0px 0px;
}