{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {% for myhood in hood %}
        <h2>{{myhood.name}}</h2>
        <div>
          <img src="{{myhood.hood_image.url}}" alt="Neighborhood" class="img-fluid">
        </div>        
        {% endfor %}
        <div>
          {%for business in found%}
          <div>
            <h2>{{business.name}}</h2>
            <p>Mail-contact: {{business.business_mail}}</p>
            <p>Info: {{business.description}}</p>
            <p><cite>Posted by: {{business.user.username}}</cite></p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-1"></div>
      
    </div>
  </div>
{% endblock %}